* body {
    padding: 0;
    box-sizing: border-box;
    background-image: url(./imagenes/FONDO.gif);
    background-size: 50%;
  }
  
  /*PORTADA*/
  
 
 

  
  
  
  img {
    width: 100%;
    margin-right: 50px;
    box-shadow: 0px 3px 5px rgba(rgb(255, 255, 255), rgb(38, 39, 38), brgb(65, 65, 66) alpha);
  }
  
  /*CUENTA REGRESIVA*/
   
  
  @media (max-width: 730px) {
    .cuenta-regresiva {
      display: flex;
      text-align: center;
      justify-content: center;
      gap: 1em;
      padding: 0.8em;
      margin-top: 5%;
      
      
  }
  .cr-time > span {
    float: left;
    height: 40px;
    width: 40px;
    font-size: 19px;
    font-weight: bold;
      border: 1px solid rgb(246, 152, 241);
      box-shadow: inset 0 0 5px rgb(255, 137, 253), 0 0 10px rgb(255, 99, 232);
      border-radius: 1px;
      color: #f2eeee;
      text-shadow: 0 0 5px rgb(247, 229, 229), 0 0 15px rgb(217, 248, 254), 0 0 30px rgb(250, 244, 244), 0 0 50px rgb(254, 254, 254);
      
  }
  .cr-desc {
      color: #ffffff;
      font-family: 'Julius Sans One', sans-serif;
      font-size: 12px;
      font-weight: 700;
line-height: 1,5;
      
  }
  .cr-block {
      background: #000000;
      border-radius: 5px;
      padding: 0.1em 0.5em;
      background-size: 80%;
  }
    
    .preparate1{
      font-family: 'Julius Sans One', sans-serif; ;
      font-size: 19px;
      font-weight: bold;
      color: #adfcff;
      text-align: center;
      margin-top: 10%;
      text-shadow: 0 0 2px rgb(54, 170, 248), 0 0 15px rgb(63, 131, 165), 0 0 30px rgb(59, 60, 60), 0 0 50px rgb(128, 199, 247);
      
    }
    .zapato{
      width: 75%;
      margin-left: 10%;
      margin-top: -5%;
    }
    .preparate {
      font-family: 'Julius Sans One', sans-serif; ;
      font-size: 24px;
      font-weight: bold;
      color: #ffffff;
      text-align: center;
      margin-top: 10%;
      text-shadow: 0 0 5px rgb(255, 255, 255), 0 0 15px rgb(21, 21, 21), 0 0 30px rgb(99, 99, 99), 0 0 50px rgb(74, 74, 74);
     }

     .parrafo1 {
      font-family: 'Julius Sans One', sans-serif; ;
      font-size: 26px;
      font-weight: bold;
      color: #ffffff;
      text-align: center;
      margin-top: 10%;
      text-shadow: 0 0 5px rgb(255, 255, 255), 0 0 15px rgb(21, 21, 21), 0 0 30px rgb(99, 99, 99), 0 0 50px rgb(74, 74, 74);
     }
     .parrafo2 {
      font-family: 'Julius Sans One', sans-serif; ;
      font-size: 22px;
      font-weight: bold;
      color: #ffffff;
      text-align: center;
      margin-top: 10%;
      text-shadow: 0 0 5px rgb(255, 255, 255), 0 0 15px rgb(21, 21, 21), 0 0 30px rgb(99, 99, 99), 0 0 50px rgb(74, 74, 74);
     }

     .linea1{
      color: #ffffff;
    width: 45%;
    margin-left: 29%;
    }

    .copas{
        width: 18%;
        margin-left: 40%;
        margin-top: -3%;
    }
    .primary {
      padding: 2px 10px;
      margin-top: 5%;
      font-size: 23px;
      margin-left: 19%;
      text-decoration: none;
      color: #fdfcfc;
      background-color: #000000;
      border: 1px solid rgb(246, 152, 241);
      box-shadow: inset 0 0 5px rgb(255, 137, 253), 0 0 10px rgb(255, 99, 232);
      border-radius: 1px;
      text-shadow: 0 0 5px rgb(255, 255, 255), 0 0 15px rgb(71, 71, 71), 0 0 30px rgb(73, 73, 73), 0 0 50px rgb(254, 254, 254);
      font-family:'Julius Sans One', sans-serif; 
      font-weight: bold;
    }
    .musica{
      width: 28%;
      margin-left: 38%;
      margin-top: -5%;
  }
  .parrafo3 {
    font-family: 'Julius Sans One', sans-serif; ;
    font-size: 21px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    margin-top: 10%;
    text-shadow: 0 0 5px rgb(255, 255, 255), 0 0 15px rgb(21, 21, 21), 0 0 30px rgb(99, 99, 99), 0 0 50px rgb(74, 74, 74);
   }
   .parrafo10 {
    font-family: 'Julius Sans One', sans-serif; ;
    font-size: 21px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    margin-top: 20%;
    text-shadow: 0 0 5px rgb(255, 255, 255), 0 0 15px rgb(21, 21, 21), 0 0 30px rgb(99, 99, 99), 0 0 50px rgb(74, 74, 74);
   }
   .click_3{
    padding: 2px 10px;
    margin-top: 5%;
    font-size: 23px;
    margin-left: 19%;
    text-decoration: none;
    color: #fdfcfc;
    background-color: #000000;
    border: 1px solid rgb(246, 152, 241);
    box-shadow: inset 0 0 5px rgb(255, 137, 253), 0 0 10px rgb(255, 99, 232);
    border-radius: 1px;
    text-shadow: 0 0 5px rgb(255, 255, 255), 0 0 15px rgb(71, 71, 71), 0 0 30px rgb(73, 73, 73), 0 0 50px rgb(254, 254, 254);
    font-family:'Julius Sans One', sans-serif; 
    font-weight: bold;
   }
   .boton2{
    margin-top: -4%;
   }
   .rosa{
    font-family: 'Julius Sans One', sans-serif; ;
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    margin-top: 10%;
    box-shadow: inset 0 0 4px rgb(255, 137, 253), 0 0 5px rgb(255, 99, 232);
   }
   .corazon{
    width: 20%;
      margin-left: 25%;
      margin-top: 5%;
   }
   .corazon2{
    width: 23%;
      margin-left: 39%;
      margin-top: -5%;
   }
   .percha{
    width: 30%;
      margin-left: 35%;
  
   }
   
  .arrow {
    margin-top: 5%;
    display: block;
    width: 16px;
    height: 16px;
    border-bottom: 5px solid #ffffff;
    border-right: 5px solid rgb(255, 255, 255);
    transform: rotate(45deg);
  margin-left: 48%;
    animation: animate28797 2s infinite;
  }
  
  .arrow span:nth-child(2) {
    animation-delay: -0.2s;
  }
  
  .arrow span:nth-child(3) {
    animation-delay: -0.4s;
  }
  
  @keyframes animate28797 {
    0% {
      opacity: 0;
      transform: rotate(45deg) translate(-20px, -20px);
    }
  
    50% {
      opacity: 1;
    }
  
    100% {
      opacity: 0;
      transform: rotate(45deg) translate(20px, 20px);
    }
  }

   .audio{
    width: 40%;
    height: 20px;
    margin-left: 30%;
    margin-top: -40%;
    background: rgb(182, 8, 179);
    color: #ffffff;
    
}
.play{
color: #ffffff;
font-family: 'Julius Sans One', sans-serif; ;
font-size: 13px;
text-align: center;
margin-top: 5%;
font-weight: 600;
}
.foto{
  width: 100%
}

     }